Section 1: Theory Questions

1. What are data structures, and why are they important?
 Data structures are organized formats for storing and managing data so it can be accessed and modified
 efficiently. They are important because choosing the right data structure affects performance, memory
 usage, and code clarity.
 2. Explain the difference between mutable and immutable data types with examples
 Mutable types (e.g., list, dict, set) can be changed in place after creation. Immutable types (e.g., tuple, str,
 int) cannot be altered — operations produce new objects instead.
 3. What are the main differences between lists and tuples in Python
 Lists are mutable, use square brackets, and support many in-place operations. Tuples are immutable, use
 parentheses, and are typically faster and safer for fixed collections.
 4. Describe how dictionaries store data
 Dictionaries store key-value pairs using a hash table. Keys are hashed to determine storage location,
 enabling average O(1) lookup, insertion, and deletion.
 5. Why might you use a set instead of a list in Python
 Use a set when you need uniqueness of elements and fast membership tests (average O(1)). Sets
 automatically discard duplicates.
 6. What is a string in Python, and how is it different from a list
 A string is an immutable sequence of characters. A list is a mutable sequence of arbitrary objects; strings
 only hold characters and cannot be modified in place.
 7. How do tuples ensure data integrity in Python
 Because tuples are immutable, their contents cannot be changed after creation, protecting data from
 accidental modification and making them suitable for fixed records.
 8. What is a hash table, and how does it relate to dictionaries in Python
 A hash table stores data in buckets indexed by hash values computed from keys. Python dictionaries are
 implemented on top of hash tables, mapping hashed keys to values.
 9. Can lists contain different data types in Python
 Yes. Python lists are heterogeneous and can hold integers, strings, objects, other lists, etc., in the same
 list.
 10. Explain why strings are immutable in Python
 String immutability simplifies reasoning about code, enables string interning and safe sharing between
 parts of a program, and can improve performance and memory usage.
 11. What advantages do dictionaries offer over lists for certain tasks
 Dictionaries provide O(1) average-time lookups by key and are ideal when access by named key is
 required. Lists require O(n) search for a value unless index is known.
 12. How do sets handle duplicate values in Python
 Sets automatically enforce uniqueness: attempting to add a duplicate element has no effect; only one
 instance of each value is stored.
 13. Describe a scenario where using a tuple would be preferable over a list
 Use a tuple for fixed data such as coordinates (x, y), function return values that shouldn't change, or keys
 in dictionaries when immutability is required.
 14. How does the “in” keyword work differently for lists and dictionaries
 For lists, 'x in list' checks for membership among values (linear search). For dictionaries, 'k in dict' checks
 whether k is a key (hash lookup, O(1) average).
 15. Can you modify the elements of a tuple? Explain why or why not
No — tuples are immutable. Their items cannot be reassigned. However, if a tuple contains a mutable
 object (like a list), that inner object can be modified.
 16. What is a nested dictionary, and give an example of its use case
 A nested dictionary contains dictionaries as values. Example use case: storing user profiles where each
 user id maps to a dict of attributes: users = {'u1': {'name':'Alice','age':30}, 'u2': {...}}.
 17. Describe the time complexity of accessing elements in a dictionary
 Average time complexity for accessing by key is O(1) due to hashing. Worst-case can degrade to O(n) if
 many collisions occur but Python's implementation minimizes this.
 18. In what situations are lists preferred over dictionaries
 Lists are preferred when order and positional indexing matter, when storing sequences of items, or when
 items are frequently iterated in order.
 19. Why are dictionaries considered unordered, and how does that affect data retrieval
 Historically dictionaries were unordered; from Python 3.7+ they preserve insertion order as an
 implementation detail, but primary access is by key, not position. Retrieval by key remains O(1);
 order-sensitive operations should still use list-like structures when appropriate.
 20. Explain the difference between a list and a dictionary in terms of data retrieval
 Lists retrieve by index position (integer index, O(1) by index), while dictionaries retrieve by key (hash
 lookup, O(1) average) which is better for lookups by identifier.

# ** Section 2: Practical Questions**

In [2]:
#1. Write code to create a string with your name and print it
name = 'Jay Pathak'
print(name)

Jay Pathak

In [3]:
#2. Write code to find the length of the string 'Hello World'
s = 'Hello World'
print(len(s))

11

In [4]:
#3. Slice the first 3 characters from 'Python Programming'
s = 'Python Programming'
print(s[:3])

Pyt

In [5]:
#4. Convert the string 'hello' to uppercase
s = 'hello'
print(s.upper())

HELLO

In [6]:
#5. Replace 'apple' with 'orange' in 'I like apple'
s = 'I like apple'
print(s.replace('apple', 'orange'))

I like orange

In [7]:
#6. Create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
#7. Append the number 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [9]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [10]:
#9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [13]:
#10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [14]:
#11. Create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [15]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
#13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [17]:
#14. Find the index of 'cat' in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [18]:
#15. Create a tuple containing three different fruits and check if 'kiwi' is in it
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [19]:
#16. Create a set with the elements 'a', 'b', 'c' and print it
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [20]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}
nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

In [21]:
#18. Remove the element 4 from the set {1, 2, 3, 4}
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

In [22]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [23]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [24]:
#21. Create a dictionary with the keys 'name', 'age', and 'city', and print it
person = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [25]:
#22. Add a new key-value pair 'country': 'USA' to {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#23. Access the value associated with the key 'name' in {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [27]:
#24. Remove the key 'age' from {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [28]:
#25. Check if the key 'city' exists in {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [29]:
#26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [30]:
#27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[39, 56, 67, 77, 96]

In [31]:
#28. Create a list with strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date']
print(words[3])

date

In [32]:
#29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
#30. Convert a list of strings into a set
words = ['a', 'b', 'a', 'c']
unique = set(words)
print(unique)

{'b', 'a', 'c'}